{% extends "layout.html" %}
{% block content %}
    <div id="wrap">
        <div id="main" class="container clear-top">
            <div id="map"></div>
        </div>

    </div>
    <footer class="footer">
        <div class="col-xs-6">
            <input type="text" class="form-control" name="city" id="city"
                   placeholder="Enter city name">
        </div>
        <div class="col-xs-3">
            <button type="button" class="btn btn-primary" id="search" style="width: 100%">Search</button>
        </div>
        <div class="col-xs-3">
            <button type="button" class="btn btn-primary" id="history" style="width: 100%">History</button>
        </div>
    </footer>
{% endblock %}