* {
    border-radius: 0 !important;
}
html, body {
    height: 100%;
}
.row, .col-xs-12, .col-xs-6, .col-xs-3 {
    margin: 0;
    padding: 0;
}
#wrap {
    min-height: 100%;
    height: 100%;
}

#main {
    height: 100%;
    width:100%;
    overflow:auto;
    padding:0 0 34px 0; /* this needs to be bigger than footer height*/
}

#map {
    height: 100%;
    width: 100%;
    background-color: #018fe2;
}
.footer {
    position: relative;
    margin-top: -50px; /* negative value of footer height */
    height: 50px;
    clear:both;
    padding-top:16px;
}

.city-title {
    color: darkblue;
    display: block;
    margin-top:20px;
}