{% extends "layout.html" %}
{% block content %}
    <div class="container-fluid">
        <div class="row map map-box">
            <div class="col-xs-12 map">
                <div id="map"></div>
                <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBFFFZv6QxA0DlSnXuEeSCavKvF6niWsKM&callback=initMap"
                        async defer></script>
            </div> <!-- row -->
        </div>
        <div class="row footer">
            <div class="col-xs-6">
                <form class="form-inline" action="" method="post" name="form_citydetails" id="form_citydetails"
                      enctype="multipart/form-data" onsubmit="return false;">
                    <div class="form-group">
                        <input type="text" class="form-control" id="" placeholder="Jane Doe" style="width:100%;">
                    </div>
                </form>
            </div>
            <div class="col-xs-3"><button type="submit" class="btn btn-default">Send invitation</button></div>
            <div class="col-xs-3"><button type="submit" class="btn btn-default">History</button></div>
        </div>
    </div> <!-- row -->
    </div>
{% endblock %}